* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, html {
    min-height: 100vh;
}

.wrapper {
    display: flex;
    height: 100vh;


    .panel-one {
        padding: 20px;
        width: 250px;
        height: 100%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        .title {
            text-align: center;
        }

        .tools-panel {
            margin-top: 100px;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-end;


            .color {
                margin-top: 10px;
                width: 100%;
                height: 25px;
                transition: 0.3s;
                border-radius: 8px;
                cursor: pointer;

                &:hover {
                    scale: 1.1;
                    border: 2px solid black;
                }
            }

            .black {
                background-color: black;
            }

            .red {
                background-color: red;
            }

            .orange {
                background-color: orange;
            }

            .yellow {
                background-color: yellow;
            }

            .green {
                background-color: green;
            }

            .sky {
                background-color: skyblue;
            }

            .blue {
                background-color: blue;
            }

            .magenta {
                background-color: magenta;
            }

            .eraser {
                outline: 1px solid black;
                text-align: center;
                line-height: 23px;
            }
        }

        .additional-panel {
            display: flex;
            flex-direction: column;

            .clear-button {
                margin-top: 20px;
                padding: 15px;
                text-align: center;
                color: white;
                background-color: red;
                font-size: 20px;
                border-radius: 8px;
                cursor: pointer;
                transition: scale 0.4s;

                &:hover {
                    scale: 1.1;
                }
            }

            .change-size-panel {
                margin-top: 20px;

                label {
                    font-size: 20px;
                }

                input {
                    font-size: 20px;
                    width: 60px;
                }

                .change-size-button {
                    margin-top: 20px;
                    padding: 15px;
                    text-align: center;
                    color: white;
                    background-color: green;
                    font-size: 20px;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: scale 0.4s;

                    &:hover {
                        scale: 1.1;
                    }
                }
            }
        }
    }

    .panel-two {
        padding: 20px;
        width: 100%;
        height: 100%;
        flex-shrink: 1;
        display: flex;

        .graphic-canvas {
            width: 900px;
            height: 900px;
            outline: 2px red solid;
            display: flex;
            flex-wrap: wrap;
        }
    }


}