* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin-top: 16px;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .paint-net {
        width: 900px;
        height: 900px;
        outline: 1px solid green;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;

        .net-cell {
            outline: 1px solid red;
        }
    }
}